body, html{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', Tahoma;
    background-color: rgba(235,235,235,1);
}
/* HEADER START */
@media(min-width:1024px){
    #header_image{
        height:150px;
    }
    #header_logo{
        font-size:50px;
    }
    #header_menu_holder{
        height:50px;
    }
    .header_menu_item{
        padding:0px 30px;
        line-height:50px;
        font-size:25px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    #header_image{
        height:100px;
    }
    #header_logo{
        font-size:35px;
    }
    #header_menu_holder{
        height:40px;
    }
    .header_menu_item{
        padding:0px 20px;
        line-height:40px;
        font-size:20px;
    }
}
@media/*(min-width:480px) and*/ (max-width:767px){
    #header_image{
        height:75px;
    }
    #header_logo{
        font-size:25px;
    }
    #header_menu_holder{
        height:40px;
    }
    .header_menu_item{
        padding:0px 15px;
        line-height:40px;
        font-size:15px;
    }
}

#header_image{
    background: url("/grundskola_hemsida/site/img/skola_bakgrund.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(255,255,255,0.5);
    position:relative;
}
#header_logo{
    position:absolute;
    bottom:0px;
    left:0px;
}
#header_menu_holder{
    background-color: rgba(0,128,255,0.5);
}
.header_menu_item{
    height:100%;
    float:left;
    color:rgba(255,255,255,1);
    text-decoration: none;
}
.header_menu_item:hover{
    background-color:rgba(0,0,0,0.1);
}
.marked{
    background-color:rgba(0,0,0,0.2);
}
.marked:hover{
    background-color:rgba(0,0,0,0.3);
}
/* HEADER END */


/* CONTENT START */
@media(min-width:1024px){
    #sidebar_navigation_container_large{
        display: block;
    }
    #sidebar_navigation_container_small{
        display: none;
    }
    .sidebar_navigation_item{
        display:block;
        font-size:35px;
        color:orange;
        text-decoration:none;
    }
    #content_items_holder{
        margin:20px 50px;
        width:500px;
        float:left;
    }
    #employee_items_holder{
        margin:20px 50px;
        width:500px;
        float:left;
    }
    #map_container{
        float:left;
        width:calc(100% - 650px);
        margin: 20px 50px 20px 0px;
    }
    #map_frame{
        width:100%;
        height:400px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    #sidebar_navigation_container_large{
        display: none;
    }
    #sidebar_navigation_container_small{
        display: block;
        height:30px;
    }
    .sidebar_navigation_item{
        width: 33.33%;
        width: calc(100% / 3);
        text-align:center;
        position:relative;
        float:left;
        margin:0px;
        padding:0px;
        height:100%;
        line-height:30px;
        color:rgba(50,50,50,1);
        text-decoration: none;
    }
    #content_items_holder{
        margin:15px auto;
        width:738px;
    }
    #employee_items_holder{
        margin:15px auto;
        width:738px;
    }
    #map_container{
        width:738px;
        margin: 20px auto;
    }
    #map_frame{
        width:738px;
        height:738px;
    }
}
@media/*(min-width:480px) and*/ (max-width:767px){
    #sidebar_navigation_container_large{
        display: none;
    }
    #sidebar_navigation_container_small{
        display: block;
        height:30px;
    }
    .sidebar_navigation_item{
        width: 33.33%;
        width: calc(100% / 3);
        text-align:center;
        position:relative;
        float:left;
        margin:0px;
        height:100%;
        line-height:30px;
        color:rgba(50,50,50,1);
        text-decoration: none;
    }
    #content_items_holder{
        margin:10px auto;
        width:calc(100% - 20px);
    }
    #employee_items_holder{
        margin:10px auto;
        width:calc(100% - 20px);
    }
    #map_container{
        width:calc(100% - 20px);
        margin: 20px auto;
    }
    #map_frame{
        width:calc(100%);
        height:400px;
    }
}
@media(max-width: 479px){
    #content_items_holder{
        margin:10px auto;
        width:calc(100% - 20px);
    }
    #employee_items_holder{
        margin:10px auto;
        width:calc(100% - 20px);
    }
}


.content_item, .employee_item{
    position:relative;
    background-color: rgba(255,255,255,1);
    padding:1%;
    width:98%;
    margin:0px 0px 10px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.content_item_date{
    position: absolute;
    top:5px;
    right:5px;
    font-style: italic;
    color:rgba(150,150,150,1);
}
.content_item_header{
    font-weight: bold;
    font-size:150%;
}
.content_item_text{
    margin-top:5px;
    font-size:115%;
}
#sidebar_navigation_container_small{
    width:100%;
    background-color: white;
}
#sidebar_navigation_container_large{
    margin:20px 50px;
    padding: 20px;
    float:left;
    border:1px solid blue;
    border-right: 0px;
}
.sidebar_navigation_item:hover{
    background-color:rgba(0,0,0,0.1);
}
.sidebar_navigation_item.marked:hover{
    background-color:rgba(0,0,0,0.3);
}
#map_container{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#map{
    height:400px;
}

/* CONTENT END */








